<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andresvasquez.holamundoenclases">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_access_time_black_24dp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_access_time_black_24dp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TaskDetails"></activity>
        <activity android:name=".RecyclerViewActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="fullSensor" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>